* {
}

body {
    background-color: #f5f8fa !important;
}



.separate-block {
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

.separate-block-wrapper {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 1px 0px;
    border: 1px solid rgb(211, 224, 233);
}

.separate-block-header {
}

.main-block {
    margin-top: 50px;
}

.left-menu {
}

.content-block {
}

.right-menu {

}

.avatar-img-block{
    padding: 10px;
}

.post-avatar-img {
    width: 60px;
}

.message-input-block{
    padding: 12px 10px 15px 10px;
}

.message-block{
    border-top: 1px solid rgb(211, 224, 233);
    padding-top: 15px;
    padding-bottom: 15px;
}

.post-message {
}

.post-header {
    padding-right: 14px;
}

.post-text {
    padding: 10px;
}

.post-photos {
    margin-bottom: 20px;
}

.post-photos > div {
    /*padding: 0px 5px;*/
}

.post-photos>div>img {
    /*margin-top: 8px;*/
}

.comment-avatar-img {
    width: 38px;
}

.comment-text {
    padding-left: 20px !important;
}

.comment-text > strong {
    padding-right: 5px;
}

.single-comment-block {
    margin-top: 15px;
}