body {
    /*background-color: #F5F8FA;*/

}

* {
    /*border: 1px solid green;*/
}

.separate-block {
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

.separate-block-wrapper {
    padding: 10px;
    border-radius: 3px;
    border: 1px solid black;
}

.main-block {
    margin-top: 50px;
    border: 1px solid blue;
}

.left-menu {
    /*margin: 0px 20px;*/
}

.content-block {
    /*margin: 0px 20px;*/
}

.right-menu {

}

.avatar-img {
    width: 80px;
}

.message-post-form{
    padding: 10px 20px;
}

.post-message {
    border: 1px solid red;
}

.post-header {
    border: 1px solid green;
}

.post-text {
    padding: 10px;
}