body {
    /*background-color: #F5F8FA;*/
    background-color: #f5f8fa !important;

}

* {
    /*border: 1px solid green;*/
}

.separate-block {
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

.separate-block-wrapper {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 1px 0px;
    border: 1px solid rgb(211, 224, 233);
}

.separate-block-header {
}

.main-block {
    margin-top: 50px;
}

.left-menu {
}

.content-block {
}

.right-menu {

}

.avatar-img {
    width: 80px;
}

.message-post-form{
    padding: 10px 20px;
}

.post-message {
    /*border: 1px solid red;*/
}

.post-header {
    /*border: 1px solid green;*/
}

.post-text {
    padding: 10px;
}