.col-md-3.left-menu
  .row.info-block.separate-block
    .about-background(style='background-image: url(images/iceland.jpg)')
    .separate-block-wrapper
      .all-info
        div
          img.avatar-img.img-circle.img-responsive.center-block(src='images/avatar-dhg.png')
          h5.text-center
            strong Dave Gamache
          p.text-center.status  wish i was a little bit taller, wish i was a baller, wish i had a girl… also.
          .row
            .col-md-6.col-xs-6(style='border-right: 1px solid #9da9b0;')
              a.pull-right(href='#') Friends
            .col-md-6.col-xs-6
              a.pull-left(href='#') Enemies
            .col-md-6.col-xs-6(style='border-right: 1px solid #9da9b0;')
              a.pull-right(href='#')
                strong 12M
            .col-md-6.col-xs-6
              a.pull-left(href='#')
                strong 1
  .row.about-block.separate-block.hidden-xs
    .separate-block-wrapper
      .row
        .col-md-12.separate-block-header
          h5
            strong About
            small
              | .
              a(href='#') Edit
          ul.list-unstyled
            li
              span.glyphicon.glyphicon-calendar.about-block-glyph
              |                                         Went to
              a(href='#') Oh, Canada
            li
              span.glyphicon.glyphicon-user.about-block-glyph
              |                                     Became friends with
              a(href='#') Obama
            li
              span.glyphicon.glyphicon-briefcase.about-block-glyph
              |                                     Worked at
              a(href='#') Github
            li
              span.glyphicon.glyphicon-home.about-block-glyph
              |                                     Lives in
              a(href='#') San Francisco
            li
              span.glyphicon.glyphicon-plane.about-block-glyph
              |                                     From
              a(href='#') Seattle, WA
  .row.photos-block.separate-block.hidden-xs
    .separate-block-wrapper
      .row.photo-block-title
        .col-md-12.col-xs-12.separate-block-header
          h5
            strong Photos
            small
              | .
              a(href='#') Edit
      div
        .row.photo-row
          .col-md-6.col-xs-6
            img.img-responsive(src='images/instagram_0.jpg', alt='')
          .col-md-6.col-xs-6
            img.img-responsive(src='images/instagram_6.jpg', alt='')
        .row.photo-row
          .col-md-6.col-xs-6
            img.img-responsive(src='images/instagram_7.jpg', alt='')
          .col-md-6.col-xs-6
            img.img-responsive(src='images/instagram_8.jpg', alt='')
        .row.photo-row
          .col-md-6.col-xs-6
            img.img-responsive(src='images/instagram_8.jpg', alt='')
          .col-md-6.col-xs-6
            img.img-responsive(src='images/instagram_9.jpg', alt='')
