.col-md-6.content-block.separate-block
  .container-fluid.separate-block-wrapper
    .row.message-input-block
      .col-xs-12
        .input-group.input-group
          input#search-church.form-control.input(type='text', placeholder='Message')
          span.input-group-btn
            button.btn.btn-default.btn(type='submit')
              span.glyphicon.glyphicon-camera
    .row.message-block
      .col-md-2.col-xs-2.avatar-block
        a.avatar-img-block(href='#')
          img.post-avatar-img.img-circle.img-responsive.center-block(src='/images/avatar-dhg.png', alt='')
      .col-md-10.col-xs-10.post-message
        .row.post-header
          .col-md-12
            .pull-left.post-author
              strong Dave Gamache
            small.pull-right.post-time.text-muted 4 min
        .row
          .col-md-12.post-text
            | Aenean lacinia bibendum nulla sed consectetur. Vestibulum id ligula porta felis euismod semper. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
        .row.post-photos
          a.col-md-7.col-xs-12(href='#', data-toggle='modal', data-target='#photo-modal-1')
            img.img-responsive(src='/images/unsplash_1.jpg', alt='')
          #photo-modal-1.modal.fade
            .modal-dialog(role='document')
              img.img-responsive(src='/images/unsplash_1.jpg', alt='')
          a.col-md-5.col-xs-6(href='#', data-toggle='modal', data-target='#photo-modal-2')
            img.img-responsive(src='/images/instagram_1.jpg', alt='')
          #photo-modal-2.modal.fade
            .modal-dialog(role='document')
              img.img-responsive(src='/images/instagram_1.jpg', alt='')
          a.col-md-5.col-xs-6(href='#', data-toggle='modal', data-target='#photo-modal-3')
            img.img-responsive(src='/images/instagram_13.jpg', alt='')
          #photo-modal-3.modal.fade
            .modal-dialog(role='document')
              img.img-responsive(src='/images/instagram_13.jpg', alt='')
          a.col-md-7.col-xs-12(href='#', data-toggle='modal', data-target='#photo-modal-4')
            img.img-responsive(src='/images/unsplash_2.jpg', alt='')
          #photo-modal-4.modal.fade
            .modal-dialog(role='document')
              img.img-responsive(src='/images/unsplash_2.jpg', alt='')
        .row.comments
          .col-md-12.single-comment-block
            .row
              a.col-md-1.comment-avatar.hidden-xs(href='#')
                img.img-responsive.img-circle.comment-avatar-img(src='/images/avatar-fat.jpg', alt='user_avatar')
              .col-md-11.comment-text
                strong Jacon Thornton:
                | Donec id elit non mi porta gravida at eget metus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Donec ullamcorper nulla non metus auctor fringilla. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Sed posuere consectetur est at lobortis.
          .col-md-12.single-comment-block
            .row
              a.col-md-1.comment-avatar.hidden-xs(href='#')
                img.img-responsive.img-circle.comment-avatar-img(src='/images/avatar-mdo.png', alt='user_avatar')
              .col-md-11.comment-text
                strong Mark Otto:
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
    .row.message-block
      .col-md-2.col-xs-2.avatar-block
        a.avatar-img-block(href='#')
          img.img-circle.post-avatar-img(src='/images/avatar-fat.jpg', alt='')
      .col-md-10.col-xs-10.post-message
        .row.post-header
          .col-md-12
            .pull-left.post-author
              strong Jacob Thornton
            small.pull-right.post-time.text-muted 12 min
        .row
          .col-md-12.post-text
            | Aenean lacinia bibendum nulla sed consectetur. Vestibulum id ligula porta felis euismod semper. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
    .row.message-block
      .col-md-2.col-xs-2.avatar-block
        a.avatar-img-block(href='#')
          img.img-circle.post-avatar-img(src='/images/avatar-mdo.png', alt='')
      .col-md-10.col-xs-10.post-message
        .row.post-header
          .col-md-12
            .pull-left.post-author
              strong Mark Otto
            small.pull-right.post-time.text-muted 34 min
        .row
          .col-md-12.post-text
            | Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        .row.post-photos
          a.col-md-12(href='#', data-toggle='modal', data-target='#photo-modal-5')
            img.img-responsive(src='/images/instagram_3.jpg', alt='')
        #photo-modal-5.modal.fade
          .modal-dialog(role='document')
            img.img-responsive(src='/images/instagram_3.jpg', alt='')
        .row.comments
          .col-md-12.single-comment-block
            .row
              a.col-md-1.comment-avatar.hidden-xs(href='#')
                img.img-circle.comment-avatar-img(src='/images/avatar-dhg.png', alt='user_avatar')
              .col-md-11.comment-text
                strong Dave Gamache:
                | Donec id elit non mi porta gravida at eget
                |                                             metus. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor
                |                                             auctor. Donec ullamcorper nulla non metus auctor fringilla. Praesent commodo
                |                                             cursus magna, vel scelerisque nisl consectetur et. Sed posuere consectetur
                |                                             est at lobortis.
