.col-md-3.right-menu
    .notification.separate-block
        .alert-warning.alert-dismissible(role='alert')
            button.close(type='button', data-dismiss='alert', aria-label='Close')
                span(aria-hidden='true') ×
            a.nl(href='#') Visit your profile!
            |                         Check your self, you aren't looking too good.
    .sponsored-block.separate-block
        .separate-block-wrapper
            .sponsored-content
                h5.separate-block-header-2 Sponsored
                img.sponsored-img.img-responsive(src='images/instagram_2.jpg', alt='instagram')
                p
                    strong.sponsored-title It might be time to visit Iceland. 
                    | Iceland is so
                    |                                 chill, and everything looks cool here. Also, we heard the people are pretty
                    |                                 nice. What are you waiting for?
                button.btn.btn-default.btn-sm(type='button')
                    .light-text Buy a ticket
    .likes-block.separate-block
        .likes-wrapper
            .sponsored-content
                .row.separate-block-header
                    .col-md-12.separate-block-header
                        h5.separate-block-header-2
                            | Likes ·
                            small
                                a(href='#') View All
                .row.person-liked
                    .col-md-4.liked-avatar
                        img.img-responsive.img-circle(src='images/avatar-fat.jpg', alt='')
                    .col-md-8
                        .row
                            strong.sponsored-title Jacob Thornton
                            |  @fat
                        .row
                            button.follow.light-text.btn.btn-default.btn-sm(type='button')
                                span.glyphicon.glyphicon-star(aria-hidden='true')
                                |  Follow
                .row.person-liked
                    .col-md-4.liked-avatar
                        img.img-responsive.img-circle(src='images/avatar-mdo.png', alt='')
                    .col-md-8
                        .row
                            strong.sponsored-title Mark Otto
                            |  @mdo
                        .row
                            button.follow.light-text.btn.btn-default.btn-sm(type='button')
                                span.glyphicon.glyphicon-star(aria-hidden='true')
                                |  Follow
        .likes-block-footer Dave really likes this nerds, no one knows why though.
    .about-block.separate-block
        .separate-block-wrapper
            .sponsored-content.sponsored-block
                | © 2015 Bootstrap 
                a.sponsored-block-href(href='#') About
                a.sponsored-block-href(href='#') Help
                a.sponsored-block-href(href='#') Terms
                a.sponsored-block-href(href='#') Privacy
                a.sponsored-block-href(href='#') Cookies
                a.sponsored-block-href(href='#') Ads
                a.sponsored-block-href(href='#') info
                a.sponsored-block-href(href='#') Brand
                a.sponsored-block-href(href='#') Blog
                a.sponsored-block-href(href='#') Status
                a.sponsored-block-href(href='#') Apps
                a.sponsored-block-href(href='#') Jobs
                a.sponsored-block-href(href='#') Advertise
