doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    link(rel='stylesheet', href='stylesheets/main.css')
    link(rel='stylesheet', href='stylesheets/bootstrap.min.css')
    link(href='https://fonts.googleapis.com/css?family=Roboto:500,400,300&subset=latin,cyrillic', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='stylesheets/bootstrap-lightbox.min.css')
    title Test
  body
    include header.jade
  block content