

body {
    font-family: 'Roboto', sans-serif !important;
    font-size: 14px !important;
    line-height: 1.6 !important;
    color: #1e3948 !important;
    background-color: #f5f8fa !important;
}

* {
}

/*@media (min-width: 1260px){
.container {
    width: 1230px !important;
}*/

.navbar-custom a:hover{
    background-color: transparent !important;
    color: #eeeeee !important;
}

.navbar-custom {
    background-color:#3097d1;
    border-color: #1c73a5;
    border-radius:0;
}

.navbar-custom .navbar-nav > li > a {
    color:#fff;
}

.navbar-avatar-btn{
    margin-top: 7px;
    margin-bottom: 7px;
    border: 0px;
    padding: 0px;
    background: transparent;
    outline: none !important;
}

.navbar-avatar-img {
    width: 38px;
}

.separate-block {
    padding-top: 15px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.separate-block-wrapper {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 1px 0px;
    border: 1px solid rgb(211, 224, 233);
}

.likes-wrapper {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 4px 4px 0px 0px;
    box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 1px 0px;
    border: 1px solid rgb(211, 224, 233);
}

a.nl:link {font-weight: 500; color:#66512c;}
a.nl:active {font-weight: 500; color:#66512c;}
a.nl:visited {font-weight: 500;color:#66512c;}
a.nl:hover {font-weight: 500; color:#66512c;}

.alert-warning {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    padding: 15px 15px;
    border-radius: 4px;
    border: 1px solid black;
    color: #8a6d3b;
}

.notification > .alert-warning {
    border: 1px solid #e6d0a1;
}

.photo-row {
    /*margin-bottom: 8px;*/
}

.sponsored-block {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #1e3948;
}

.likes-block {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #1e3948;
}

.person-liked {
    margin-bottom: 15px;
}

.follow {
    margin: 3px 0px;
}

.likes-block-footer {
    padding: 10px 15px;
    background-color: #f5f8fa;
    border: 1px solid #d3e0e9;
    border-top: none;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.sponsored-title {
    font-weight: 500;
}

.sponsored-content {
    margin: 0px 7px;
}

.sponsored-img {
    padding-bottom: 10px;
}

/* THIS STYLE IS DUBLICATED, REFACTOR */
.separate-block-header-2 {
    font-weight: 500;
    font-size: 14px;
}

.light-text {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.separate-block-header {
}

.main-block {
    margin-top: 50px;
}

.left-menu {
}

.content-block {
}

.right-menu {

}

.avatar-img-block{
    /*padding: 10px;*/
    /*padding-left: 20px;*/
}

.avatar-img {
    max-height: 100px;
    max-width: 100px;
    margin-top: -70px;
    margin-bottom: 5px;
    border: 3px solid #fff;
    border-radius: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    width: 80px;
}

.post-avatar-img {
    width: 60px;
}

.message-block{
    border-top: 1px solid rgb(211, 224, 233);
    padding-top: 15px;
    padding-bottom: 15px;
}

.message-input-block{
    padding: 12px 10px 15px 10px;
}

.post-message {
}

.post-header {
    padding-right: 14px;
}

.post-text {
    padding: 10px;
}


.about-background{
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    height: 150px;
    background-size: cover;
}




.about_text {
    color: #9da9b0;
}


/* styles for the left menu */
.about-block-glyph {
    color: #9da9b0;
    margin-right: 15px !important;
    margin-bottom: 7px;
}

/* styles for the left menu */

.post-photos {
    margin-bottom: 20px;
}

.post-photos > div {
    /*padding: 0px 5px;*/
}

.post-photos>div>img {
    /*margin-top: 8px;*/
}

.comment-avatar-img {
    width: 38px;
}

.comment-text {
    padding-left: 20px !important;
}

.comment-text > strong {
    padding-right: 5px;
}

.single-comment-block {
    margin-top: 15px;
}

.sponsored-block-href {
    margin-left: 6px;
}